version: 2

workflows:
  version: 2
  build-workflow:
    jobs:
    - build:
        filters:
          tags:
            only: /.*/
    - build-osx:
        filters:
          tags:
            only: /.*/

jobs:
  build:
    # This image has most Haskell stuff preinstalled.
    docker:
    - image: 'fugue2/aws-haskell:0.0.2'

    steps:
    - checkout
    - restore_cache:
        key: 'v1-fregot-{{ arch }}-{{ .Branch }}'
    - run:
        name: 'Install'
        command: 'make install'
        no_output_timeout: 50m
    - run:
        name: 'Set up path'
        command: echo 'export PATH="$HOME/.local/bin:$PATH"' >> $BASH_ENV
    - run:
        name: 'Run tests'
        command: 'make test'
    - save_cache:
        key: 'v1-fregot-{{ arch }}-{{ .Branch }}-{{ .Revision }}'
        paths:
        - '~/.stack'

  build-osx:
    macos:
      xcode: '10.0.0'
    steps:
    - checkout
    - run:
        name: 'Install stack'
        command: 'curl -sSL https://get.haskellstack.org/ | sh'
